

.about-container{
    margin: 64px 96px;
    text-align: start;
}

.about-container h1{
    padding-bottom: 16px;
}

.about-container p{
    padding-bottom: 32px;
}

.accordion-body{
    font-size: 14px;
    
}

.about-con{
     font-size: 17px;
     font-family: serif;
     
}

@media screen and (max-width:850px){
    .about-container{
        margin: 64px 32px;
       
    }
}